<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>URL</key>
    <dict>
        <key>TF1</key>
        <dict>
            <key>Identifier</key>
            <string>com.plexapp.plugins.mytf1</string>
            <key>URLPatterns</key>
            <array>
                <string>^http://www\.tf1\.fr/.+</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
